<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사원 목록 페이지</title>
<style>
table {
	margin:0 auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
}

th, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	background-color: #999999;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:hover {
	cursor: pointer;
}
h1{
	text-align: center;
}
.btn_box{
	width: 80%;
	text-align: right;
	margin: 0 auto;
	margin-bottom: 20px;
}
</style>
</head>
<body>
	<h1>DW 게시판</h1>
	<div class="btn_box">
		<button type="button" onclick="">게시물 작성</button>
	</div>
	<table id="board">
		<tr>
			<th>게시판 번호</th>
			<th>게시판 제목</th>
			<th>작성자</th>
			<th>작성날짜</th>
			<th>조회수</th>
		</tr>
	</table>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	callMyAPI();
	function callMyAPI() {
		$.ajax({
			url : '/api/v1/board',
			type : 'GET',
			dataType : 'json',
			success : function(response) {
				console.log(response);
				console.log(response.board_no);
				for (var i = 0; i < response.length; i++) {
					var html = '<tr><td>'+response[i].board_no+'</td><td><a href="#">'+response[i].title+'</a></td><td>'+response[i].writer+'</td><td>'+response[i].create_at.split(" ")[0]+'</td><td>'+response[i].board_count+'</td></tr>'
					$('#board').append(html);
				}
			}
		});
	}

	function getEmp(empno) {
		$.ajax({
			url : '/api/v1/emp/' + empno,
			type : 'GET',
			dataType : 'json',
			success : function(response) {
				$('#ename').val(response.ename);
				$('#comm').val(response.comm);
				$('#sal').val(response.sal);
			}
		});
	}
	
	function doInsert(){
		var empno = $('#c_empno').val();
		var ename = $('#c_ename').val();
		var job = $('#c_job').val();
		var deptno = $('#c_deptno').val();
		var hiredate = $('#c_hiredate').val();
		if(hiredate == ''){
			var date = new Date();
			hiredate = date.getFullYear()+"-"+(date.getMonth()+1)+"-0"+date.getDate();	
		}
		
		var jsonData = {
				"empno" : empno,
				"ename" : ename,
				"job" : job,
				"deptno" : deptno,
				"hiredate" : hiredate
		}
		
		$.ajax({
			url : '/api/v1/emp',
			type : 'POST',
			contentType : 'application/json',
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function (response){
				alert("사원 추가 완료!");
				location.reload();
			}
			
		})
	}
	
	function doUpdate(){
		var empno = $('#u_empno').val();
		var ename = $('#u_ename').val();
		var job = $('#u_job').val();
		var deptno = $('#u_deptno').val();
		
		var jsonData = {
				"empno" : empno,
				"ename" : ename,
				"job" : job,
				"deptno" : deptno
		}
		
		$.ajax({
			url : '/api/v1/emp',
			type : 'PATCH',
			contentType : 'application/json',
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function (response){
				alert("사원 수정 완료!");
				location.reload();
			}
			
		})
	}
	
	function doDelete(){
		var empno = $('#d_empno').val();
		
		$.ajax({
			url : '/api/v1/emp/' + empno,
			type : 'DELETE',
			dataType : 'json',
			success : function(response) {
				alert("사원 삭제 완료!");
				location.reload();
			}
		});
	}
</script>
</html>