<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사원 목록 페이지</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
	<h3>사원 목록</h3>
	<table id="emp">
		<tr>
			<th>사원번호</th>
			<th>사원이름</th>
			<th>사원직책</th>
			<th>입사날짜</th>
			<th>급여</th>
			<th>부서이름</th>
			<th>부서위치</th>
		</tr>
	</table>
</body>
<script
src="https://code.jquery.com/jquery-3.6.1.js"
integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
crossorigin="anonymous"
></script>
<script type="text/javascript">
callMyAPI();
function callMyAPI(){
    $.ajax({
  	 url: '/api/v1/emp',
  	 type: 'GET',
  	 dataType: 'json',
  	 success: function (response){
  		 for(var i=0; i<response.length; i++){
  			 var html = "<tr><td>"+response[i].empno+"</td><td>"+response[i].ename+"</td><td>"+response[i].job+"</td><td>"+response[i].hiredate+"</td><td>"+response[i].sal+"</td><td>"+response[i].dname+"</td><td>"+response[i].loc+"</td></tr>"
			$('#emp').append(html);
  		 }
  	 }
    });
}
</script>
</html>